@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 315 100% 98%;
    --foreground: 0 0% 12%;
    --card: 315 100% 98%;
    --card-foreground: 0 0% 12%;
    --popover: 315 100% 98%;
    --popover-foreground: 0 0% 12%;
    --primary: 329 86% 70%;
    --primary-foreground: 0 0% 12%;
    --secondary: 198 93% 60%;
    --secondary-foreground: 0 0% 12%;
    --muted: 315 100% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 329 86% 70%;
    --accent-foreground: 0 0% 12%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 12%;
    --border: 315 100% 20%;
    --input: 315 100% 20%;
    --ring: 329 86% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 312 100% 2%;
    --foreground: 0 0% 88%;
    --card: 312 100% 2%;
    --card-foreground: 0 0% 88%;
    --popover: 312 100% 2%;
    --popover-foreground: 0 0% 88%;
    --primary: 329 86% 30%;
    --primary-foreground: 0 0% 88%;
    --secondary: 198 93% 40%;
    --secondary-foreground: 312 100% 2%;
    --muted: 312 100% 80%;
    --muted-foreground: 0 0% 88%;
    --accent: 329 86% 30%;
    --accent-foreground: 0 0% 88%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 312 100% 60%;
    --input: 312 100% 80%;
    --ring: 329 86% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
